main {
    padding-top: 5em;
}

#editor {
    margin-top: 1em;
    overflow:scroll; height:300px
}

#dropzone-form {
    min-height: 10em;
    padding: 20px;
}

#dropzone-form .card {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    width: 16% !important;
}

#dropzone-form .card .card-title {
    font-size: 0.8em;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0.5em;
}

#dropzone-form .card .card-img-top {
    height: 100%;
    width: 100%;
}

#dropzone-form .dz-preview-infos {
    padding: 0.5em 0;
}

.dz-filename {
    padding: 1em;
}
