@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-light.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-regular.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-medium.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/dinpro-black.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
