
.grid {
    float: left;
    width: 684px;
}

.grid .grid-item {
    font-size: 10pt;
    font-weight: 100;
    line-height: 0;
    text-align: right;
    width: 334px;
}

.grid .grid-item img {
    width: 100%;
}

.grid .grid-item-infos {
    line-height: 1.5rem;
    padding: 0.5rem 0;
}
